.new-expense__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    border: 2px solid red;
    text-align: left;
}

.new-expense__control {
    border: 2px solid blue;
}
.new-expense__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.new-expense__control input {
    font: inherit;
    width: 20rem;
    padding: 0.5rem;
    border-radius: 6px;
    border: none;
    max-width: 100%;
}

.new-expense__actions {
    display: flex;
    justify-content: flex-end;
}
